.table{
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    width: 550px;
    color: #6a5d5d;
    display: block;
}

.table .tr{
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 0.5rem;
}
.table td:nth-child(1) {
    width: 400px;
}

.table tr:nth-of-type(odd){
    background-color: #f3f2f8;
}